<p id="notice"><%= notice %></p>



<h3>
  Your Ditly Url is:
  <br>
  <hr>
</h3>

<h2>
  http://localhost:3000/<strong><%= @link.id.to_s(36) %></strong>
</h2>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
